{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock %}

{% block content %}
<div class="container mt-5" id="about">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1>About Us</h1>
            <p>EventHorizon is your ultimate event management solution, designed to bring event organizers and participants together in a seamless, easy-to-use platform. Whether you're looking to create, promote, or attend an event, EventHorizon has everything you need to make your event a success.</p>
            <p>Our platform allows registered users to create events in a wide range of categories. Once an event is created, it undergoes a review process by our dedicated admin team to ensure that it meets our community standards. Approved events are then displayed in the Events section, where they can be explored by both users and visitors alike.</p>
            <p>Join us today and become a part of the EventHorizon community—where events come to life!</p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/bg-masthead.jpg' %}" alt="About Us Image" class="img-fluid rounded">
        </div>
    </div>
</div>
{% endblock %}
