{% extends 'base.html' %}
{% load static %}
{% block title %}Services{% endblock %}

{% block content %}
<div class="container mt-5" id="services">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1>Our Services</h1>
            <p>EventHorizon offers a range of services to ensure your event is a success:</p>
            <ul class="list-unstyled">
                <li><strong>Event Creation:</strong> Easily create and manage your events with our user-friendly platform. Submit events for admin approval and track their status directly from your profile.</li>
                <li><strong>Ticket Management:</strong> Manage ticket purchases seamlessly with integrated payment processing through Stripe. Generate and track QR codes for each purchased ticket directly within the platform.</li>
                <li><strong>Admin Features:</strong> Ensure the quality of listed events with our event approval and rejection system, giving admins control over which events are visible on the platform.</li>
            </ul>
            <p>Explore our services and find out how we can help make your next event a success!</p>
        </div>
    </div>
</div>
{% endblock %}
