{% extends "base.html" %}

{% block content %}
<div class="container mt-5" id="profile">
    <h2>User Profile</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
    <form action="{% url 'password_reset' %}" method="post" style="margin-top: 15px;">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning">Reset Password</button>
    </form>
    <a href="{% url 'event_create' %}" class="btn btn-success" style="margin-top: 15px;">Create Event</a>
    <a href="{% url 'user_event_list' %}" class="btn btn-info" style="margin-top: 15px;">My Events</a>
</div>
{% endblock %}
